@use "../abstracts/variables";

// MEDIA QUERY MANAGER
/*
0 - 600px:          Phone
600px - 900px       Table Portrait
900px - 1200px      Table Landscape
[1200px - 1800px]   Desktop Normal Styles
1800px +            Big Desktop

1em = 16px

ORDER: Base + Typography > General Layout + Grid > Page Layout > Components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone-xs {
    @media (max-width: 20em) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port-sm {
    @media (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin section-borders {
  border: 1.5rem solid #fff;
  border-top: 0;
  border-bottom: 0;
}

@mixin supportColorForIE11 {
  color: variables.$secondary-color;
  -webkit-text-fill-color: variables.$secondary-color;

  @supports (-webkit-background-clip: text) or (background-clip: text) {
    background-image: linear-gradient(
      135deg,
      variables.$primary-color 0%,
      variables.$secondary-color 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@mixin supportIE11 {
  @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    @content;
  }
}

@mixin cta-colors($start, $end) {
  border-width: 2px;
  border-style: solid;

  border-image: linear-gradient(315deg, $start, $end);
  -webkit-border-image: -webkit-linear-gradient(315deg, $start, $end);
  -moz-border-image: -moz-linear-gradient(315deg, $start, $end);
  border-image-slice: 1;

  &::after {
    background-image: linear-gradient(135deg, $start, $end);
  }

  &:hover {
    -webkit-text-fill-color: white;
    color: white;

    &::after {
      width: 100%;
    }
  }

  @include respond(phone) {
    background-image: none;
    border: 2px solid $end;
    -webkit-text-fill-color: $end;

    &::after {
      background-image: none;
    }

    &:hover {
      -webkit-text-fill-color: $end;
    }
  }
}

@mixin button-variant($primary, $secondary) {
  border-image: linear-gradient(135deg, $primary, $secondary);
  border-image-slice: 1;

  background-image: linear-gradient(135deg, $primary, $secondary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  &::after {
    background-image: linear-gradient(135deg, $primary, $secondary);
  }

  &:hover {
    background-image: none;
    background-color: transparent;
  }
}
