@use "../abstracts/variables";
@use "../abstracts/mixins";

#todos {
  background-color: variables.$white-color;
  color: variables.$dark-blue-text;
  margin-top: 1rem;
  padding-top: 1rem;

  @include mixins.respond(tab-land) {
    margin-top: 0;
    padding-top: 1rem;
  }
}

.todo-card {
  background-color: #ffffff;
  margin: 0rem;
  padding: 1rem; //0?
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
  }
}
