@use "../abstracts/variables";
@use "../abstracts/mixins";

#listtodos-section {
  border-radius: 10rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 3rem 0rem;
  max-width: 90vw;
  text-align: center;
  background: linear-gradient(to bottom right, variables.$primary-color, variables.$secondary-color);
  
  color: variables.$dark-blue-text;

  .todo-wrapper {
    margin-bottom: 1rem;

    @include mixins.respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 0rem;

      @include mixins.respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;

      @include mixins.respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include mixins.respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: variables.$mid-font-size;

        @include mixins.respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: variables.$secondary-color;
      }
    }
  }

  .todo-card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
      transform: translateY(-2px);
    }
  }
}
